@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Oswald;
        src: url(../assets/fonts/Oswald-Medium.ttf) format("truetype");
        }
        @font-face {
        font-family: OpenSans;
        src: url(../assets/fonts/OpenSans-Regular.ttf),url(../assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
        }
        
        }